# Database
MONGO_URI=mongodb://127.0.0.1:27017
DB_NAME=ASSETFLOW

# JWT Security
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=RS256
JWT_EXPIRES=7

# Email Server
MAIL_USERNAME=noreply@yourdomain.com
MAIL_PASSWORD=your_smtp_password
MAIL_SERVER=smtp.yourdomain.com
MAIL_PORT=465

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# App Environment
PROJECT_ENVIRONMENT=DEVELOPMENT
SESSION_SECRET=your_dev_session_secret

# Frontend URL
FRONTEND_URI=http://localhost:5173

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Admin seed
ADMIN_EMAIL=admin@assetflow.com
